@media screen and (min-width: 800px) {
  .content {
    margin: 1em 2em;
  }
}

.app {
  display: flex;
  justify-content: center;
}

.app button {
  background-color: rgb(0, 116, 163);
  border: none;
}

.navbar a {
  margin-right: 20px;
}

.searchLogo {
  margin: 20px;
}

.searchResult {
  margin: 20px 45px;
}

.loginButton {
  background-color: #0074a3;
  border: none;
  width: 150%;
  margin-left: 20px;
  border-radius: 6px;
  /* float: right; */
  display: inline-block;
}

.buttonDiv {
  width: 30%;
  float: right;
  margin: 30px 20px;
  text-align: right;
}

.navDiv {
  display: flex;
  justify-content: center;
}
