.container {
  display: flex;
  justify-content: left;
}

.container form {
  width: 400px;
}

.mainDiv {
  font-family: 'Noto Sans HK', sans-serif;
}

.smallInput {
  width: 80%;
  margin: 30px;
}

.registerButton {
  background-color: #0074a3;
  border: none;
  width: 50%;
  margin: 2% 1.75%;
  border-radius: 6px;
  /* float: right; */
  display: inline-block;
}
